.am-register-wrapper{
  width: 680px;
  height: 100vh;

}
.form-items {
  display: flex;
  flex-direction: column;
}
.am-register-pad{
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
