.am-main-wrapper{
  display: flex;
  justify-content: center;
}
.am-sidenav{
  max-width: 600px;
  min-width: 200px;
  width: 600px;
  height: 100%;
  background-color: #003f8c;
}
.am-sidenav-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.am-sidenav-logo
{
  align-self: start;
}
mat-list-item:hover{
  background-color: #0073ec;
}
mat-list{
  width: 100%;
}
mat-list-item{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.am-sidenav-item {
  width: 100%;
  text-align: end;
  font-size: 18px;
}
.fa-calendar-days, .fa-right-from-bracket, .fa-business-time, .fa-user-plus, .fa-check
{
  padding: 5px;
}

