.am-main-wrapper{
  display: flex;
  justify-content: center;
}
.am-sidenav{
  max-width: 400px;
  min-width: 200px;
  width: 400px;
  height: 100%;
  background-color: rgb(124,96,107);
}
.am-sidenav-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.am-sidenav-logo
{
  align-self: start;
}
mat-list-item:hover{
  background-color: rgba(157,136,144,1);
}
mat-list{
  width: 100%;
}
mat-list-item{
  display: flex;
  flex-direction: column;
}
.am-sidenav-item {
  width: 100%;
  text-align: end;
}
.am-body-class {
  width: 100%;
  height: 100%;
  background: rgb(124,96,107);
  background: linear-gradient(152deg, rgba(124,96,107,1) 63%, rgba(157,136,144,1) 100%);
}

