<app-requests-table></app-requests-table>
<mat-card class="am-req">
  <mat-card-content>
    <form  class="am-request-form">
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." class="am-req-desc"></textarea>
      </mat-form-field>
      <app-range-date-picker></app-range-date-picker>
        <button class="am-req-btn"
                mat-raised-button>
          Send request
        </button>
    </form>
  </mat-card-content>
</mat-card>

