.am-request-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.am-req-btn{
  background-color: #282747;
  color: white;
}
.am-req-desc{
  height: 51px;
  width: 100%;
}
.am-req{
  margin-top: 5em;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
