.am-calendar-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.am-calendar{
  max-width: 900px;
  width: 100%;
  min-width: 350px;
}
