.am-login-wrapper{
  position: relative;
  display: flex;
  height: 100%;
  left: 50%;
  top: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  max-width: 1280px;
  max-height: 710px;
  min-width: 300px;
  box-shadow: 0 3px 12px #0000001F;
  border-radius: 4px;
}
.am-login-pad{
  margin-top:15px;
  border: none;
  box-shadow: none;
}
.am-login-img{
  width: 50%;
  padding-left: 45px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8f8;
  position: relative;
  z-index: 1;
}
.am-login-btn
{
  background-color: #0073ec;
  color: white;
}
.am-login-image{
  position: relative;
  left: 30px;
  top: -10px;
  width: 800px;
}
.am-login-welcome{
  font-size: 34px;
  font-weight: bold;
  color: #0073ec;
  margin-left: 90px;
  opacity: 30%;
}
.am-login-welcome:first-child{
  margin: 8px;
  opacity: 100%;
}
.am-login-right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.form-items {
  display: flex;
  flex-direction: column;
}
.nav-text {
  font-weight: 500;
  color: #0073ec;
  cursor: pointer;
}
.nav-text-small {
  margin-top: 10px;
  text-align: center;
  color: #0073ec;
  cursor: pointer;
}
