<div class="am-login-wrapper">
  <div class="am-login-img">
    <label class="am-login-welcome">Absence</label>
    <label class="am-login-welcome">Management</label>
    <img src="assets/login.png" class="am-login-image">
  </div>
  <div class="am-login-right">
    <label style="font-size: 25px; font-weight: bolder">Log In</label>
    <mat-card class="example-card mat-elevation-z10">
      <mat-card-content>
        <form class="form-items">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" name="email" [formControl]="email" required matInput placeholder="example@example.com"/>
            <mat-error *ngIf="email.invalid">Please insert valid email address</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" name="password" [formControl]="password" required matInput placeholder="******"/>
            <mat-error *ngIf="password.invalid">Please insert your password</mat-error>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            disabled="{{ loading }}"
            (click)="handleSubmit()"
          >
            Log in
          </button>
        </form>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
