* {
  margin: 0;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f8f8f8;
}
.am-root{
  display: flex;
  flex-direction: row;
  height: 100vh;
}
app-register {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
app-home {
  width: 100%;
  display: flex;
  column-gap: 2em;
}
app-period-scheduler{
  width: 100%;
  display: flex;
  flex-direction: column;
}

